.DS_Store
.idea
*.iml
**/*.pyc
Dockerfile.template

docker-weewx.code-workspace
/.vscode/
/log.txt
/tmp/
/public_html/
/archive/
/public_html/
/dist/weewx-5.0.0/weewx.conf
/weewx.conf
/archive/weewx.sdb
